@import "../variables.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  max-width: $screen-lg-min;

  > div {
    margin-left: 8px;
    margin-right: 8px;

    @media (min-width: $layout-breakpoint-xs) {
      margin-right: 0;
      width: calc(50% - 12px);
      max-width: calc(50% - 12px);
      min-width: calc(50% - 12px);
    }

    @media (min-width: $layout-breakpoint-md) {
      width: calc(33% - 6px);
      max-width: calc(33% - 6px);
      min-width: calc(33% - 6px);
    }
  }
}
