// Module
.root {
  display: flex;
  flex-direction: row;
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  min-height: 0;
  font-size: 1rem;
  background: rgba(255, 255, 255, 1);
}

// Components
.mainContent {
  padding: 16px;
  flex: auto;
}

.primaryText {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.subtext {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 300;
  opacity: 0.8;
}

.content {
  margin-top: 16px;
  font-size: 0.9em;
  opacity: 0.5;
}

.image {
  min-width: 80px;
  border-radius: 0 2px 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  svg {
    width: 48px !important;
    height: 48px !important;
  }

  path {
    fill: rgba(0, 0, 0, 0.2);
  }
}

.number {
  color: rgba(0, 0, 0, 0.3);
  font-size: 4em;
  text-transform: uppercase;
}

// Variants
.status_free .image {
  background: #8bc34a;
}

.status_used .image {
  background: #ffeb3b;
}

.status_locked .image {
  background: #ffa726;
}

// States
.expanded {
  .mainContent {
    padding-top: 0;
    padding-bottom: 8px;
  }
}
