.root {
  display: flex;
  border-top: 3px solid transparent;
  border-radius: 3px;
  flex-direction: column;

  > div {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.expanded {}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
